root:{
--primary-font-family: "Joan", serif;
--primary-color: rgb(31, 31, 31);
--secondary-color:red;
}

.container{
    max-width: 800px;
    text-align: center;
    padding-top: 80px;
    font-family: var(--primary-font-family);
    display:block;
    margin: 0 auto;

}

h1{
    font-size: 50px;
    font-weight: 400;
    display:block;
    margin:0 auto;
}

h2{
    color:var(--secondary-color);
    font-size: 40px;
    font-weight: 400;
}

h3{
    color: var(--secondary-color);
}

.about-content{
    max-width: 800px;
    text-align: center;
    padding-top: 30px;
    font-family: var(--primary-font-family);
    display: block;
    margin: 0 auto;
}

.about-paragraphs{
    display:flex;
    justify-content: center;
    margin:30px;
}

.about-paragraphs p {
    margin: 20px;
    padding:20px;
    font-size: 18px;
}

.email-link{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color:var(--primary-color);
}

.email-link:hover{
    text-decoration: underline;
    cursor: pointer;
    color:black;
}

.email-link:visited {
    color: blue;
}

.contact, .about{
    text-decoration: none;
    padding:20px;
    border: 1px solid #345398;
    border-radius: 5px;
    margin: 20px 20px;
}
 .contact{
     background-color: #345398;
        color: white;
 }

.contact:hover{
        background: #1c3261;
}